:root {
  --BLACK-PRIMARY: #1b1b1b;
  --BLACK-SECONDARY: #242424;
  --WHITE: #ffffff;
  --BLACK: #000000;
  --YELLOW: #fcc26b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--WHITE);
  color: var(--BLACK-PRIMARY);
}

h1,
h2,
h3,
h4 {
  font-family: "Road Rage", sans-serif;
}

a {
  text-decoration: none;
  color: var(--BLACK-PRIMARY);
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: var(--YELLOW);
  padding: 0.9rem 3.7rem 0.9rem 5.2rem;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: var(--BLACK-PRIMARY);
}
.btn-primary:hover span {
  color: var(--WHITE);
}
.btn-primary:hover img {
  filter: invert(1);
}
.btn-primary span {
  color: var(--BLACK-PRIMARY);
  font-family: "Road Rage", sans-serif;
  font-size: 4.6rem;
  font-weight: 400;
  letter-spacing: 2.3px;
  transition: color 0.3s ease;
}
.btn-primary img {
  transition: filter 0.3s ease;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 4.7rem 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav {
  display: flex;
  gap: 3.7rem;
}
header nav a {
  position: relative;
  color: #514b4b;
  font-size: 1.6rem;
  line-height: 155.3%;
  letter-spacing: 0.096rem;
}
header nav a.active {
  color: var(--BLACK);
  font-weight: bold;
}
header nav a.active:before {
  content: "";
  width: 0.4rem;
  height: 2.6rem;
  background: url("../img/line.svg") no-repeat center center;
  position: absolute;
  left: 50%;
  margin-left: -0.2rem;
  top: -3.6rem;
}
header nav a:hover {
  color: var(--BLACK);
}
header .right-icons {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.s-hero {
  position: relative;
  width: 100%;
  height: 95.3rem;
  background: url("../img/bg-paper.png") no-repeat top center;
  background-size: cover;
  overflow: hidden;
}
.s-hero .left-text {
  width: 100%;
  max-width: 62.8rem;
  padding-top: 29.2rem;
}
.s-hero .left-text .title {
  margin-bottom: 4rem;
}
.s-hero .left-text .title h1 {
  color: #868686;
  font-size: 10.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 72%;
}
.s-hero .left-text .title h1 span {
  font-family: "Road Rage", sans-serif;
  color: var(--BLACK-PRIMARY);
}
.s-hero .left-text .title img {
  margin-top: -20px;
}
.s-hero .left-text p {
  color: #8e8e8e;
  font-size: 1.6rem;
  line-height: 155.3%;
  margin-bottom: 4.3rem;
}
.s-hero .left-text button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.s-hero .left-text button span {
  color: var(--BLACK);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--YELLOW);
  font-family: "Road Rage", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.2rem;
}
.s-hero .left-text .users {
  margin-top: 10.5rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.s-hero .left-text .users ul {
  display: flex;
  align-items: center;
}
.s-hero .left-text .users ul li {
  background-color: var(--WHITE);
  border: 0.2rem solid var(--YELLOW);
  border-radius: 50%;
  width: 4.7rem;
  height: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-hero .left-text .users ul li:not(:first-child) {
  margin-left: -1.5rem;
}
.s-hero .left-text .users strong {
  color: var(--BLACK-SECONDARY);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 155.3%;
}
.s-hero .ilustra {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 1700px) {
  .s-hero .ilustra {
    right: -20rem;
  }
}
@media (max-width: 1440px) {
  .s-hero .ilustra {
    right: -36rem;
  }
}

.s-numbers {
  padding-top: 4rem;
  padding-bottom: 12.2rem;
}
.s-numbers p {
  text-align: center;
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  color: var(--BLACK-PRIMARY);
  font-size: 1.6rem;
  line-height: 155.3%;
  margin-bottom: 10.2rem;
}
.s-numbers .box {
  position: relative;
  width: 100%;
  height: 27.7rem;
  max-width: 85.8rem;
  border-radius: 20px;
  border: 0.15rem solid #ffe0b1;
  margin: 0 auto;
  padding: 0.5rem;
}
.s-numbers .box .ilustra {
  position: absolute;
  top: -7.4rem;
  left: -1.6rem;
  z-index: 1;
}
.s-numbers .box .content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4.5rem;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: var(--YELLOW);
}
.s-numbers .box .content ul {
  display: flex;
}
.s-numbers .box .content ul li {
  text-align: center;
  padding: 1.5rem 2.1rem;
}
.s-numbers .box .content ul li:first-child {
  padding-left: 0;
}
.s-numbers .box .content ul li:last-child {
  padding-right: 0;
}
.s-numbers .box .content ul li:not(:first-child) {
  border-left: 0.1rem solid rgba(255, 255, 255, 0.4);
}
.s-numbers .box .content ul li strong {
  display: block;
  color: var(--BLACK);
  font-size: 1.4rem;
  line-height: 155.3%;
  margin-bottom: 1.3rem;
}
.s-numbers .box .content ul li h3 {
  color: var(--WHITE);
  font-size: 7.6rem;
  font-weight: 400;
  line-height: 0.7;
}

.s-how-to-use {
  position: relative;
  background-color: #f8f8f8;
  padding-top: 10.4rem;
  padding-bottom: 10.5rem;
}
.s-how-to-use .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.s-how-to-use .text-left-container {
  position: relative;
  flex: 1;
  max-width: 50rem;
  margin-bottom: 8.1rem;
}
.s-how-to-use .text-left-container h2 {
  position: absolute;
  bottom: 19rem;
  left: -19rem;
  color: #c5c5c5;
  font-size: 8.4rem;
  font-weight: 400;
  line-height: 72%;
  transform: rotate(-90deg);
}
.s-how-to-use .text-left-container ul li:not(:last-child) {
  margin-bottom: 4.1rem;
}
.s-how-to-use .text-left-container ul li h3 {
  font-family: "Rock Salt", cursive;
  color: var(--BLACK-PRIMARY);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 155.3%;
  margin-bottom: 1.8rem;
}
.s-how-to-use .text-left-container ul li p {
  color: #787878;
  font-size: 1.6rem;
  line-height: 155.3%;
}
.s-how-to-use .image-right-container {
  position: relative;
  flex: 1;
  max-width: 50.9rem;
  height: 58.9rem;
  z-index: 1;
}
.s-how-to-use .image-right-container img {
  position: absolute;
}
.s-how-to-use .image-right-container img.one {
  top: 2.2rem;
  left: 1.6rem;
  z-index: 1;
}
.s-how-to-use .image-right-container img.two {
  top: 0;
  right: 3.5rem;
  z-index: 1;
}
.s-how-to-use .image-right-container img.three {
  left: 14.3rem;
  bottom: 7rem;
  z-index: 1;
}
.s-how-to-use .image-right-container .shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 23.2rem;
  border-radius: 50%;
  background: rgba(195, 195, 195, 0.37);
  filter: blur(5.5px);
  z-index: -1;
}
.s-how-to-use .btn-primary {
  position: absolute;
  left: 50%;
  bottom: -2.4rem;
  margin-left: -13.3rem;
}

.s-stories {
  padding-top: 19.5rem;
  padding-bottom: 16.2rem;
}
.s-stories .title {
  text-align: center;
}
.s-stories .title h4 {
  color: #8e8e8e;
  font-family: "Roboto Mono", sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 155.3%;
  margin-bottom: 2.4rem;
}
.s-stories .title h4 strong {
  color: var(--YELLOW);
}
.s-stories .title h2 {
  color: var(--BLACK-PRIMARY);
  font-size: 45.9rem;
  font-weight: 400;
  line-height: 0.7;
  letter-spacing: 2.754rem;
  text-transform: uppercase;
}
.s-stories .text {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5.7rem;
  position: relative;
  z-index: 1;
  margin-top: -35rem;
}
.s-stories .text .description {
  padding-bottom: 13.9rem;
  flex: 1;
  max-width: 44.3rem;
}
.s-stories .text .description p {
  color: var(--BLACK-PRIMARY);
  font-size: 1.6rem;
  line-height: 155.3%;
}
.s-stories .text .description p:not(:last-child) {
  margin-bottom: 1.6rem;
}
.s-stories .text .arrow-button {
  position: absolute;
  bottom: -33rem;
  right: 2.2rem;
}

.s-stickers {
  width: 100%;
  background-color: #f8f8f8;
  padding-top: 11.1rem;
  padding-bottom: 8.3rem;
}
.s-stickers .title {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  margin-bottom: 20.7rem;
}
.s-stickers .title .subtitle {
  position: absolute;
  top: -2rem;
  left: -2rem;
  color: var(--YELLOW);
  font-family: "Rock Salt", sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 155.3%;
  transform: rotate(-10deg);
}
.s-stickers .title h2 {
  display: flex;
  position: relative;
  align-items: center;
  gap: 3.8rem;
  color: var(--BLACK-PRIMARY);
  font-size: 15rem;
  font-weight: 400;
  line-height: 0.7;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
}
.s-stickers .title h2 span {
  font-family: "Road Rage", sans-serif;
}
.s-stickers .title h2 img {
  position: absolute;
  right: 11.1rem;
}
.s-stickers .all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14.7rem 2.1rem;
}
.s-stickers .all .card-sticker {
  width: 100%;
  max-width: 37.8rem;
  height: 41.2rem;
  border-radius: 2rem;
  border: 1px solid var(--YELLOW);
  padding: 0.5rem;
}
.s-stickers .all .card-sticker .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  border: 1px solid #d9d9d9;
  background-color: #eee;
}
.s-stickers .all .card-sticker .content .image {
  width: 100%;
  max-width: 20.6rem;
  height: 26.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: center;
  margin-top: -9.6rem;
  margin-bottom: 0.9rem;
}
.s-stickers .all .card-sticker .content .info {
  margin-bottom: 3.6rem;
  text-align: center;
}
.s-stickers .all .card-sticker .content .info h3 {
  color: var(--BLACK-PRIMARY);
  font-size: 4.1rem;
  font-weight: 400;
  line-height: 0.7;
  letter-spacing: 0.164rem;
  text-transform: uppercase;
  margin-bottom: 2.7rem;
}
.s-stickers .all .card-sticker .content .info p {
  color: #5d5d5d;
  font-size: 1.4rem;
  line-height: 127%;
}
.s-stickers .all .card-sticker .content ul {
  display: flex;
  gap: 2rem;
}

.s-world {
  position: relative;
  padding-top: 11.3rem;
  padding-bottom: 13.4rem;
  overflow: hidden;
  background: url(../img/fade.png) no-repeat bottom center;
}
.s-world .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-world .title {
  text-align: center;
  margin-bottom: 5.4rem;
}
.s-world .title h2 {
  color: var(--BLACK-PRIMARY);
  font-size: 43.1rem;
  font-weight: 400;
  line-height: 0.7;
  letter-spacing: 4.741rem;
  text-transform: uppercase;
  margin-bottom: 2.9rem;
}
.s-world .title span {
  color: var(--YELLOW);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 155.3%;
  text-transform: uppercase;
}
.s-world p {
  text-align: center;
  color: #9c9c9c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 155.3%;
  max-width: 63.2rem;
  margin-bottom: 6.3rem;
}
.s-world .ilustration {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.s-world .ilustration.eagle {
  top: -4.4rem;
  left: 0;
}
.s-world .ilustration.tiger {
  bottom: 0;
  left: 0;
}
.s-world .ilustration.octopus {
  top: -4.4rem;
  right: 0;
}
.s-world .ilustration.owl {
  right: 0;
  bottom: 7.1rem;
}
@media (min-width: 1441px) {
  .s-world {
    background-size: cover;
  }
}

footer {
  background: var(--BLACK);
  color: var(--WHITE);
  padding-top: 4.8rem;
  padding-bottom: 5.5rem;
}
footer .first-area {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .first-area .left {
  flex: 1;
  max-width: 60rem;
}
footer .first-area .left p {
  color: #9c9c9c;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 155.3%;
  margin-top: 2.2rem;
}
footer .first-area .right {
  flex: 1;
  max-width: 27rem;
}
footer .first-area .right h3 {
  opacity: 0.8;
  color: var(--WHITE);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.3%;
  letter-spacing: 0.162rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
footer .first-area .right ul {
  display: flex;
  justify-content: space-between;
}
footer .first-area .right ul li a {
  color: #9c9c9c;
  font-size: 1.5rem;
  line-height: 155.3%;
  text-transform: uppercase;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
footer .first-area .right ul li a:hover {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */