footer {
  background: var(--BLACK);
  color: var(--WHITE);
  padding-top: 4.8rem;
  padding-bottom: 5.5rem;
  .first-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .left {
      flex: 1;
      max-width: 60rem;
      p {
        color: #9c9c9c;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 155.3%;
        margin-top: 2.2rem;
      }
    }
    .right {
      flex: 1;
      max-width: 27rem;
      h3 {
        opacity: 0.8;
        color: var(--WHITE);
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 155.3%;
        letter-spacing: 0.162rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }
      ul {
        display: flex;
        justify-content: space-between;
        li {
          a {
            color: #9c9c9c;
            font-size: 1.5rem;
            line-height: 155.3%;
            text-transform: uppercase;
            opacity: 0.8;
            transition: opacity 0.3s ease;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
